@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>Please type navigate to the page you wish to view depending on your role following a / in the url.</p>
</div>
