@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All information seen here is all private. Information seen here should not 
    leave this site and should not be shared with other people.
</p>
